.sidebar {
  background: linear-gradient(180deg, #000000 0%, #474747 100%);
  min-height: 100vh;
  position: fixed;
  width: 220px;
  transition: 0.3s;

  @media (max-width: 1200px) {
    width: 200px;
    transform: translateX(-200px);
    z-index: 999;
  }

  .sidebar-logo {
    padding: 17px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .sidebar--menu--list {
    overflow: auto;
    height: calc(100vh - 78px);
    padding-bottom: 30px;
  }

  .menu--head {
    font-size: 10px;
    text-transform: uppercase;
  }

  .nav-link {
    color: rgba(255, 255, 255, 0.75);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 14px;
    &:hover {
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }
    svg {
      margin-right: 5px;
      font-size: 20px;
      width: 25px;
    }
    svg.downmenu {
      width: 15px;
      @media(max-width:1200px){
          margin-left: auto;
      }
    }
  }
  .nav-link.active {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .submenu-link:before {
    margin-right: 3px;
    width: 10px;
    height: 1px;
    display: block;
    background: #fff;
    content: '';
}

.submenu-link {
    display: flex;
    align-items: center;
    gap: 1px;
}
}

.sidebar.activetoggle {
  width: 100px;
  @media (max-width: 1200px) {
    width: 200px;
    transform: translateX(0px);
  }
}
.sidebar--menu--list::-webkit-scrollbar {
  width: 5px;
}

.sidebar--menu--list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.side--content--area{
    transition: 0.3s;
    // background-color: var(--bgContent);
}

.sidebar.activetoggle .nav-link {
    min-height: 50px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sidebar.activetoggle .nav-link .menu--icon {
    font-size: 22px;
    margin-right: 0px;
    @media (max-width: 1200px) {
          margin-right: 5px;
    font-size: 20px;
    }
}
.sidebar.activetoggle .sidebar--menu--list {
    padding: 5px;
    @media (max-width: 1200px) {
      padding-top: 0;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-bottom: 30px;
    }
}
.sidebar.activetoggle .menu--head {
    display: none;
    @media (max-width: 1200px) {
      display: block;
    }
}


.sidebar.activetoggle .nav-link {
    flex-direction: column;
    font-size: 11px;
    text-align: center;
    @media (max-width: 1200px) {
      flex-direction: row;
        color: rgba(255, 255, 255, 0.75);
        padding: 10px 5px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        transition: 0.3s;
        font-size: 14px;
        min-height: auto;
        justify-content: left;
        margin-bottom: 0.5rem;
    }
}

.sidebar.activetoggle .nav-link > .flex {
    flex-direction: column;
    @media (max-width: 1200px) {
      flex-direction: row;
    }
}

@media (max-width: 1200px) {
  .side--content--area, .sidebar.activetoggle + .side--content--area {
    width: 100%;
  }
}

.overlay--sidebar {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 2;
    opacity: 0.5;
}
